{% extends 'layout.html' %}

{% block content %}

<h3>Расписание для класса {{ ras.class_name }}</h3>

<div class="raspisanie">
<ul class="table_ras">
    <div class="day1">
        Понедельник
    </div>
    <li class="descriptions_ras">
        <h5>№ | </h5>
        <h5> &nbsp; Предмет </h5>
    </li>
    <li class="example1">
        <h5>1 | {{ ras.day1example1 }} </h5>
    </li>
    <li class="example2">
        <h5>2 | {{ ras.day1example2 }} </h5>
    </li>
    <li class="example3">
        <h5>3 | {{ ras.day1example3 }} </h5>
    </li>
    <li class="example4">
        <h5>4 | {{ ras.day1example4 }} </h5>
    </li>
    <li class="example5">
        <h5>5 | {{ ras.day1example5 }} </h5>
    </li>
    <li class="example6">
        <h5>6 | {{ ras.day1example6 }} </h5>
    </li>
</ul>

<ul class="table_ras">
    <div class="day2">
        Вторник
    </div>
    <li class="descriptions_ras">
        <h5>№ | </h5>
        <h5> &nbsp; Предмет </h5>
    </li>
    <li class="example1">
        <h5>1 | {{ ras.day1example1 }} </h5>
    </li>
    <li class="example2">
        <h5>2 | {{ ras.day1example2 }} </h5>
    </li>
    <li class="example3">
        <h5>3 | {{ ras.day1example3 }} </h5>
    </li>
    <li class="example4">
        <h5>4 | {{ ras.day1example4 }} </h5>
    </li>
    <li class="example5">
        <h5>5 | {{ ras.day1example5 }} </h5>
    </li>
    <li class="example6">
        <h5>6 | {{ ras.day1example6 }} </h5>
    </li>
</ul>

<ul class="table_ras">
    <div class="day3">
        Среда
    </div>
    <li class="descriptions_ras">
        <h5>№ | </h5>
        <h5> &nbsp; Предмет </h5>
    </li>
    <li class="example1">
        <h5>1 | {{ ras.day1example1 }} </h5>
    </li>
    <li class="example2">
        <h5>2 | {{ ras.day1example2 }} </h5>
    </li>
    <li class="example3">
        <h5>3 | {{ ras.day1example3 }} </h5>
    </li>
    <li class="example4">
        <h5>4 | {{ ras.day1example4 }} </h5>
    </li>
    <li class="example5">
        <h5>5 | {{ ras.day1example5 }} </h5>
    </li>
    <li class="example6">
        <h5>6 | {{ ras.day1example6 }} </h5>
    </li>
</ul>

<ul class="table_ras">
    <div class="day4">
        Четверг
    </div>
    <li class="descriptions_ras">
        <h5>№ | </h5>
        <h5> &nbsp; Предмет </h5>
    </li>
    <li class="example1">
        <h5>1 | {{ ras.day1example1 }} </h5>
    </li>
    <li class="example2">
        <h5>2 | {{ ras.day1example2 }} </h5>
    </li>
    <li class="example3">
        <h5>3 | {{ ras.day1example3 }} </h5>
    </li>
    <li class="example4">
        <h5>4 | {{ ras.day1example4 }} </h5>
    </li>
    <li class="example5">
        <h5>5 | {{ ras.day1example5 }} </h5>
    </li>
    <li class="example6">
        <h5>6 | {{ ras.day1example6 }} </h5>
    </li>
</ul>

<ul class="table_ras">
    <div class="day5">
        Пятница
    </div>
    <li class="descriptions_ras">
        <h5>№ | </h5>
        <h5> &nbsp; Предмет </h5>
    </li>
    <li class="example1">
        <h5>1 | {{ ras.day1example1 }} </h5>
    </li>
    <li class="example2">
        <h5>2 | {{ ras.day1example2 }} </h5>
    </li>
    <li class="example3">
        <h5>3 | {{ ras.day1example3 }} </h5>
    </li>
    <li class="example4">
        <h5>4 | {{ ras.day1example4 }} </h5>
    </li>
    <li class="example5">
        <h5>5 | {{ ras.day1example5 }} </h5>
    </li>
    <li class="example6">
        <h5>6 | {{ ras.day1example6 }} </h5>
    </li>
</ul>
</div>
{% endblock %}
